.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../assets/img/banner_.jpg);
    border-radius: 15px;
}